
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainMP4 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainMP4 video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/*header*/

.header {
    position: absolute;
    width: 95%;
    height: 75px;
    margin: 10px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'PT Serif', serif;
}

.header h1 {
    font-size: 20px;
}

.header h1 a{
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 17px;
    font-family: 'Gowun Dodum', sans-serif;
}

.nav-text {
    padding: 15px;
}

.nav-text a {
    text-decoration: none;
    color: black;
    align-items: center;
}

.nav-text a:hover {
    color: black;
    opacity: 0.3;
}

/*container*/
.main_text {
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    font-family: 'PT Serif', serif;
}

.main_text h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

.main_text p {
    font-size: 28px;
    color: black;
    font-weight:700;
    opacity:0.5;
}

.main_text > button {
    margin-top: 10px;
    color: white;
    background: none;
    font-size: 18px;
    border: 1.9px solid white;
    padding: 15px 20px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: all .3s;
}

.main_text > button:hover {
    color: white;
    opacity: 0.3;
}
