
#header {
    width: 100%;
    height: 80px;
    box-shadow: 0 1px 4px 0 rgba(30, 30, 30, .2);
}

/* 가운데 영역 */
.wrapper {
    height: auto;
    min-height: 100%;
    padding-bottom: 230px
}

.container {
    position: relative;
    width: 1280px;
    /*height: 80px;*/
    margin: 0 auto;
}

/* 로우 영역 */
.row {
    padding: 0 28px;
}

#footer {
    background: #6e1716;
}

/* 헤더 영역 */
.header h1 {
    float: left;
}

.header h1 em {
    padding: 20px 0 0 30px;
    display: inline-block;
}

.header h1 em img {
    width: 190px;
}

.header .nav {
    float: right;
}

.header .nav ul {
    border-left: 1px solid #c6c6c6;
}

.header .nav ul li {
    float: left;
    width: 90px;
    text-align: center;
    border-right: 1px solid #c6c6c6;
}

.header .nav ul li a {
    display: block;
    padding: 28px 10px;
    font-size: 17px;
    font-weight: 400;
    color: #444;
}

.post-card {
    z-index: 10;
}

.post_box {
    padding: 50px;
}

.post_box .winesite_recommended_list {
    width: 848px;
    margin: 0 auto 20px auto;
    text-align: center;
}

.post_box .winesite_recommended_list a {
    font-size: 24px;
    color: #666;
    font-weight: 700;
}

.site_menu {
    margin-bottom: 30px;
}

.site_menu ul {
    overflow: hidden;
    width: 848px;
    margin: 0 auto;
}

.site_menu li {
    float: left;
    width: 200px;
    text-align: center;
    border: 1px solid #c4c4c4;
    margin-right: -1px;
}

.site_menu li a {
    display: block;
    padding: 10px 0;
    font-size: 18px;
    color: #666;
    font-weight: 700;
}

.site_menu li.active a {
    background-color: #666;
    color: #fff;
}

.recommended_list {
    margin: 80px 0 30px 0;
    text-align: center;
}

.recommended_list li a {
    font-size: 24px;
    color: #666;
    font-weight: 700;
}

.winesite_recommended_list li span {
    font-size: 24px;
    color: #666;
    font-weight: 700;
}

.winesite_recommended_list button {
    margin-top: 20px;
}


.wine_chart .swiper-slide {
    float: left;
    width: 292px;
    height: 420px;
    margin: 0 auto;
}

.wine_chart .poster {
    position: relative;
    border: 1px solid #d9d9d9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wine_chart .poster img {
    display: flex;
    max-height: 300px;
    width: auto;
    margin: auto;
}

.wine_chart .poster .rank {
    position: absolute;
    top: 45px;
    left: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #6e1716;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.wine_chart .poster .rank strong {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.wine_chart .info {
    overflow: hidden;
    height: 130px;
    background-color: #fff;
    padding: 17px;
    border: 1px solid #d9d9d9;
}

.wine_chart .info h3 {
    color: #333;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: -2px;
}

.wine_chart .info .info_btn a {
}

/* Detail */
section {
    width: 100%;
    /*margin: 50px auto;*/
}

.main_content {
    position: relative;
    height: 900px;
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
    /*align-items: center;*/
    /*margin: auto;*/
    /*padding: 0 100px;*/

}

.img_box {
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;

}

.Review_img {
    width: auto;
    height: auto;

}

#title {
    padding-right: 50px;
    height: 300px;
    /*text-align: right;*/
}

#title h1 {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: normal;
    color: #262626;
    margin-bottom: 5px;
}

#title h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: normal;
    color: #1c020a;
    margin-bottom: 5px;
}

#title h3 {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 5px;
}

.review_detail {
    width: 680px;

}

.comment_box {
    /*display: inline-block;*/
    height: 600px;
}
#commentInputArea {
    width: 100%;
}




/* 푸터 */
#footer {
    height: 230px;
    position: relative;
    transform: translateY(-100%);
}


.foot_container {
    position: relative;
    width: 1280px;
    margin: 0 auto;
}

.footer_info {
    padding: 50px 0;
    width: 80%;
}

.footer_info h2 img {
    width: 180px;
}

.footer_info ul {
    padding: 15px 0;
}

.footer_info ul li {
    position: relative;
    display: inline;
    padding-right: 16px;
    white-space: nowrap;
}


