<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wine NOT?</title>
    <!--    Boot Strap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/swiper.css">

    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean"
          rel="stylesheet">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/e0dea76106.js" crossorigin="anonymous"></script>

    <!--    JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>




</head>

<body>
<header id="header">
    <div class="container">
        <div class="row">
            <div class="header clearfix">
                <h1>
                    <a href="/">
                        <em><img src="../static/img/winenot_onlyfont.png" alt="wineNot_logo"></em>
                    </a>
                </h1>
                <nav class="nav">
                    <ul class="clearfix">
                        <li><a href="/login">로그인</a></li>
                        <li><a href="/signup">회원가입</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>


<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="post_box">
                <div class="recommended_list">
                    <ul>
                        <li><a href="#">Wine Not 회원 추천 리스트</a></li>
                    </ul>
                </div>
                <section id="main">
                    <div class="main_content">

                        <div class="img_box">
                            <img class="Review_img" src="../static/img/{{review.file}}">
                        </div>
                        <div class="review_detail">
                            <div id="title">
                                <h5 id="postNum" style="display: none">{{ review.post_num }}</h5>
                                <h1>{{ review.wine_name }}</h1>
                                <h2>{{ review.wine_type }}</h2>
                                <h3>{{ review.wine_country }}</h3>
                                <h3>{{ review.wine_grape }}</h3>
                                <h4>{{ review.content }}</h4>
                            </div>
                            <!-- Comment 영역 -->
                            <div class="comment_box">
                                <div class="input-group mb-3">
                                        <span class="input-group-text" id="commentUserName">{{ user_info.id }}</span>
                                        <input type="text" class="form-control" placeholder="Comment Input"
                                               aria-label="Comment Input" aria-describedby="button-addon2" id="commentInput">
                                        <button class="btn btn-outline-dark" type="button" id="button-addon2" onclick="save_comment()">
                                            댓글 달기
                                        </button>
                                    </div>
                                <div class="commentList">
                                    {% for comment in comments %}
                                        {% if comments[loop.index0].username == user_info.id  %}
                                            <p class="comment_row"><span>{{comments[loop.index0].username}} : {{comments[loop.index0].comment}}</span>
                                            <button type="button" class="btn-close" aria-label="Close"
                                                    onclick="delete_comment({{comments[loop.index0].comment_id }})"></button></p>
                                        {% else %}
                                            <p class="comment_row"><span>{{comments[loop.index0].username}} : {{comments[loop.index0].comment}}</span></p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<!-- footer -->
<footer id="footer">
    <div id="footer_info">
        <div class="foot_container">
            <div class="row">
                <div class="footer_info">
                    <h2>
                        <img src="../static/img/항해99_logo.png">
                    </h2>
                    <ul>
                        <li>
                            <c href="#">15조</c>
                        </li>
                        <li><b href="#">김숙영</b></li>
                        <li><b href="#">김도엽</b></li>
                        <li><b href="#">최서우</b></li>
                        <li><b href="#">이동재</b></li>
                        <li><b href="#">김민수</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>


<script>
        function save_comment() {
            let pageInfo = "WineNOT"
            let postNum = $('#postNum').text()
            let userName = $('#commentUserName').val()
            let comment = $('#commentInput').val()

            let form_data = new FormData();
            form_data.append("pageInfo_give", pageInfo)
            form_data.append("postNum_give", postNum);
            form_data.append("userName_give", userName);
            form_data.append("comment_give", comment);

            $.ajax({
                type: "POST",
                url: "/saveComment",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response['msg']);
                    window.location.reload();
                },
            });

        }
        function delete_comment(delete_id){
            let res = confirm('삭제할까요?')
            if (res == true) {
                let pageInfo = "WineNOT"
                let commentNum = delete_id
                let postNum = $('#postNum').text()


                let form_data = new FormData();
                form_data.append("pageInfo_give", pageInfo)
                form_data.append("commentNum_give", commentNum)
                form_data.append("postNum_give", postNum);


                $.ajax({
                    type: "POST",
                    url: "/delete_comment",
                    data: form_data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        alert(response['msg']);
                        window.location.reload();
                    },
                });

            }
        }

    </script>
</html>