<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wine not?</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../DJL_20220417_index.html/assets/css/reset.css">
    <link rel="stylesheet" href="../../DJL_20220417_index.html/assets/css/style.css">
    <link rel="stylesheet" href="../../DJL_20220417_index.html/assets/css/swiper.css">

    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean"
          rel="stylesheet">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/e0dea76106.js" crossorigin="anonymous"></script>

</head>

<body>
<header id="header">
    <div class="container">
        <div class="row">
            <div class="header clearfix">
                <h1>
                    <a href="#">
                        <em><img src="../../DJL_20220417_index.html/assets/image/winenot_onlyfont.png" alt="logo"></em>
                    </a>
                </h1>
                <nav class="nav">
                    <ul class="clearfix">
                        <li><a href="#">로그인</a></li>
                        <li><a href="#">회원가입</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- //header -->

<section id="movie">
    <div class="container">
        <div class="row">
            <div class="movie">
                <div class="winesite_recommended_list">
                    <ul>
                        <li><a href="#">실시간 사이트별 추천 리스트</a></li>
                    </ul>
                </div>
                <div class="movie_title">
                    <ul>
                        <li class="active"><a href="#">VIVINO</a></li>
                        <li><a href="#">WEINCO</a></li>
                        <li><a href="#">XTRAWINE</a></li>
                        <li><a href="#">WINE21</a></li>
                    </ul>
                </div>
                <!-- //movie_title -->
                <div class="movie_chart">
                    <!-- chart_cont1 -->
                    <div class="swiper-container2">
                        <div class="chart_cont1 swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="poster">
                                    <figure>
                                        <img src="../../DJL_20220417_index.html/assets/image/wine_sample1.png">
                                    </figure>
                                    <div class="rank"><strong>1</strong></div>
                                </div>
                                <div class="info">
                                    <h3><strong>Sauvignon Blanc 2017</strong></h3>
                                    <div class="info_btn">
                                        <div><a href="#">Whitehaven</a></div>
                                        <div><a href="#">Marlborough, New Zealand</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="poster">
                                    <figure>
                                        <img src="../../DJL_20220417_index.html/assets/image/wine_sample2.png">
                                    </figure>
                                    <div class="rank"><strong>2</strong></div>
                                </div>
                                <div class="info">
                                    <h3><strong>Félix Solís</strong></h3>
                                    <div class="info_btn">
                                        <div><a href="#">Mucho Más Tinto N.V.</a></div>
                                        <div><a href="#">Vino de España, Spain</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="poster">
                                    <figure>
                                        <img src="../../DJL_20220417_index.html/assets/image/wine_sample3.png">
                                    </figure>
                                    <div class="rank"><strong>3</strong></div>
                                </div>
                                <div class="info">
                                    <h3><strong>The Hess Collection</strong></h3>
                                    <div class="info_btn">
                                        <div><a href="#">Allomi Cabernet Sauvignon 2017</a></div>
                                        <div><a href="#">Napa Valley, United States</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="poster">
                                    <figure>
                                        <img src="../../DJL_20220417_index.html/assets/image/wine_sample4.png">
                                    </figure>
                                    <div class="rank"><strong>4</strong></div>

                                </div>
                                <div class="info">
                                    <h3><strong>Masseria La Volpe</strong></h3>
                                    <div class="info_btn">
                                        <div><a href="#">1 Uno Primitivo de Manduria 2018</a></div>
                                        <div><a href="#">Primitivo de Manduria, Italy</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recommended_list">
                    <ul>
                        <li><a href="#">내가 추천하는 Wine Not 리스트</a></li>
                    </ul>
                </div>
                <div class="movie_chart">
                    <!-- chart_cont1 -->
                    <div class="swiper-container2">
                        <div class="chart_cont1 swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="poster">
                                    <figure>
                                        <img src="../../DJL_20220417_index.html/assets/image/wine_sample5.png">
                                    </figure>
                                </div>
                                <div class="info">
                                    <h3><strong>Amore e Foliia</strong></h3>
                                    <div class="info_btn">
                                        <div><a href="#">Podere le Ripi</a></div>
                                        <div><a href="#">Toscana, Italy</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="poster">
                                    <figure>
                                        <img src="../../DJL_20220417_index.html/assets/image/wine_sample6.png">
                                    </figure>
                                </div>
                                <div class="info">
                                    <h3><strong>Paso a Paso Tempranillo 2019</strong></h3>
                                    <div class="info_btn">
                                        <div><a href="#">Volver</a></div>
                                        <div><a href="#">Castilla, Spain</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="poster">
                                    <figure>
                                        <img src="../../DJL_20220417_index.html/assets/image/wine_sample7.png">
                                    </figure>
                                </div>
                                <div class="info">
                                    <h3><strong>San Giovanni Battista</strong></h3>
                                    <div class="info_btn">
                                        <div><a href="#">Cantine Leonardo da Vinci</a></div>
                                        <div><a href="#">Brunello di Montalcino, Italy</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="poster">
                                    <figure>
                                        <img src="../../DJL_20220417_index.html/assets/image/wine_sample8.png">
                                    </figure>
                                </div>
                                <div class="info">
                                    <h3><strong>Il Fauno di Arcanum</strong></h3>
                                    <div class="info_btn">
                                        <div><a href="#">San Marzano</a></div>
                                        <div><a href="#">Toscana, Italy</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- footer -->
<footer id="footer">
    <div id="footer_info">
        <div class="container">
            <div class="row">
                <div class="footer_info">
                    <h2>
                        <img src="../../DJL_20220417_index.html/assets/image/항해99_logo.png">
                    </h2>
                    <ul>
                        <li>
                            <c href="#">15조</c>
                        </li>
                        <li><b href="#">김숙영</b></li>
                        <li><b href="#">김도엽</b></li>
                        <li><b href="#">최서우</b></li>
                        <li><b href="#">이동재</b></li>
                        <li><b href="#">김민수</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

</html>