<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wine NOT?</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/swiper.css">

    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean"
          rel="stylesheet">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/e0dea76106.js" crossorigin="anonymous"></script>

    <!--    JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <style>
        .wrapper {
            padding-bottom: 230px
        }
    </style>
    <script>

        function goDetail(number) {
            location.href = "/detail/" + number
        }

        function goCrawlingDetail(keyword,site) {
            location.href = "/crawling_detail/"+keyword+"/"+site
        }

        function logout() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!');
            window.location.href = "/";
        }

    </script>

</head>

<body>
<header id="header">
    <div class="container">
        <div class="row">
            <div class="header clearfix">
                <h1>
                    <a href="/home">
                        <em><img src="../static/img/winenot_onlyfont.png" alt="wineNot_logo"></em>
                    </a>
                </h1>

                <nav class="nav">

                    <ul class="clearfix">
                        {% if login_status == 0 %}
                        <li><a href="/login">로그인</a></li>
                        <li><a href="/signup">회원가입</a></li>
                        {% elif login_status == 1 %}
                        <li><a> {{user_info.name}} 님</a></li>
                        <li><a href="/editprofile">My Page</a></li>
                        <li><a onclick="logout()">로그아웃</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>


<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="post_box">
                <div class="winesite_recommended_list">
                    <ul>
                        <li><a href="#">실시간 사이트별 추천 리스트</a></li>
                    </ul>

                </div>
                <div class="site_menu">
                    <ul>
                        <li class="btn_list">
                            <a class="active" href="#" id="vivino">VIVINO</a>
                            <ul class="inside_ul">
                                <li class="sub_list"><a class="active" href="/winelist?board_name=vivino">VIVINO 이동!</a>
                                </li>
                            </ul>
                        </li>
                        <li class="btn_list">
                            <a href="#" id="weinco">WEINCO</a>
                            <ul class="inside_ul">
                                <li class="sub_list"><a href="/winelist?board_name=weinco">WEINCO 이동!</a></li>
                            </ul>
                        </li>
                        <li class="btn_list">
                            <a href="#" id="xtrawine">XTRAWINE</a>
                            <ul class="inside_ul">
                                <li class="sub_list"><a href="/winelist?board_name=xtrawine">XTRAWINE 이동!</a></li>
                            </ul>
                        </li>
                        <li class="btn_list">
                            <a href="#" id="wine21">WINE21</a>
                            <ul class="inside_ul">
                                <li class="sub_list"><a href="/winelist?board_name=wine21">WINE21 이동!</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="wine_chart">
                    <div class="swiper-container2">
                        <div class="chart_cont1 swiper-wrapper" id="box">
                            {% for wine in other_wines[0] %}
                            <div class="swiper-slide">
                                <div class="poster">
                                    <img class="post-card" src="{{wine.image}}"
                                         onclick="goCrawlingDetail('{{wine.post_num}}','{{wine.site}}')">
                                </div>
                                <div class="info">
                                    <h3><strong>{{ wine.name }}</strong></h3>
                                    <div class="info_btn">
                                        <div>{{ wine.region }}</div>
                                        <div>{{ wine.producer }}</div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="recommended_list">
                    <ul>
                        <li><a href="#">Wine Not 회원 추천 리스트</a> <span
                                onclick="location.href='/winenotPage'">     더보기</span></li>
                    </ul>
                </div>
                <div class="wine_chart">
                    <div class="swiper-container2">
                        <div class="chart_cont1 swiper-wrapper">
                            {% for post in posts %}
                            <div class="swiper-slide">
                                <div class="poster">
                                    <!--                                        <figure>-->
                                    <img class="post-card" src="static/img/{{post.file}}"
                                         onclick="goDetail('{{post.post_num}}')">
                                    <!--                                        </figure>-->
                                </div>
                                <div class="info">
                                    <h3><strong>{{ post.wine_name }}</strong></h3>
                                    <div class="info_btn">
                                        <div>{{ post.wine_type }}</div>
                                        <div>{{ post.wine_country }}</div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<footer id="footer">
    <div id="footer_info">
        <div class="foot_container">
            <div class="row">
                <div class="footer_info">
                    <h2>
                        <img src="../static/img/항해99_logo.png">
                    </h2>
                    <ul>
                        <li>
                            <c href="#">15조</c>
                        </li>
                        <li><b href="#">김숙영</b></li>
                        <li><b href="#">김도엽</b></li>
                        <li><b href="#">최서우</b></li>
                        <li><b href="#">이동재</b></li>
                        <li><b href="#">김민수</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

</html>