<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wine not? 로그인</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/swiper.css">
    <link rel="stylesheet" href="../static/css/member.css">

    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean"
        rel="stylesheet">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/8f4978e361.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script>
        // function signUp() {
        //     location.href = "signup"
        // }

        //for Test - dy
        function login() {
            let username = $("#floatingInput_ID").val()
            let password = $("#floatingInput_PW").val()

            if (username == "") {
                alert('아이디를 입력해주세요.')
                $("#floatingInput_id").focus()
                return;
            } else {
                $("#floatingInput_id").text("")
            }

            if (password == "") {
                alert('비밀번호를 입력해주세요.')
                $("#floatingInput_PW").focus()
                return;
            } else {
                $("#floatingInput_PW").text("")
            }

            $.ajax({
                type: "POST",
                url: "/sign_in",
                data: {
                    give_id: username,
                    give_pw: password
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        $.cookie('mytoken', response['token'], { path: '/' });
                        alert(response['msg'])
                        window.location.replace("/home")
                    } else {
                        alert(response['msg'])
                    }
                }
            });


        }
    </script>
</head>

<body>
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="header clearfix">
                    <h1>
                        <a href="/home">
                            <em><img src="../static/img/winenot_onlyfont.png" alt="logo"></em>
                        </a>
                    </h1>
                    <nav class="nav">
                        <ul class="clearfix">
                            <strong>
                                <li class="nav-text"><a href="/signup"><i class="fa-solid fa-pen-to-square"></i>
                                        회원가입</a></li>
                            </strong>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row">
                <div class="wrapper">
                    <div class="login">
                        <div class="title">
                            <h1>로그인</h1>
                        </div>
                        <div class="mb-3">
                            <div class="input_data-lg form-floating">
                                <input type="id" class="form-control" id="floatingInput_ID" placeholder="ID">
                                <label for="floatingInput_ID">ID</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="input_data-lg form-floating">
                                <input type="password" class="form-control" id="floatingInput_PW"
                                    placeholder="Password">
                                <label for="floatingInput_PW">Password</label>
                            </div>
                        </div>
                        <div class="login_btn" method="POST">
                            <button onclick="login()" type="button" class="btn btn-dark">로그인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
    <footer id="footer">
        <div id="footer_info">
            <div class="container">
                <div class="row">
                    <div class="footer_info">
                        <h2>
                            <img src="../static/img/항해99_logo.png">
                        </h2>
                        <ul>
                            <li>
                                <c href="#">15조</c>
                            </li>
                            <li><b href="#">김숙영</b></li>
                            <li><b href="#">김도엽</b></li>
                            <li><b href="#">최서우</b></li>
                            <li><b href="#">이동재</b></li>
                            <li><b href="#">김민수</b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>